<div class="span-7 colborder">
  <h6>User Details</h6>
  <p>
  <ul>
    <li>
    Subscribe to <%= h @user.login%>
    </li>
    <li>
    Login: <%= h @user.login%>
    </li>
    <li>
    Email: <%= h @user.email %>
    </li>
  </ul>
  </p>
</div>
<div class="span-7 last">
  <h6>Identify obstacles</h6>
  <p>
  Avatar:
  <br /> 
  <a href="http://en.gravatar.com/site/signup/"><%= image_tag gravatar_url_for(@user.email), :height => 80, :width => 80, :title => "#{@user.login}'s Avatar"%></a>
  <br />
  Sign up for a <a href="http://www.gravatar.com">gravatar</a>.
  </p>
</div>


<%= render :partial => 'posts/list_posts', :locals => { :posts => @user.posts } %>
