<h1>Listing subscriptions</h1>


<ul>
  <% for subscription in @subscriptions %>
    <li>
    <%= h subscription.user.login %> is following 
    <%= h User.find_by_id(subscription.sub_id).login %>
    <%= link_to 'Edit', edit_subscription_path(subscription) %>
    <%= link_to 'Destroy', subscription, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>

</ul>
<br />

<%= link_to 'New subscription', new_subscription_path %>
