<div class="posts">
<% for post in posts %>
  <div class="post_row">
    <div class="post_avatar">
      <%= image_tag gravatar_url_for(post.user.email, :size => 48), :height => 48, :width => 48, :title => "#{post.user.login}'s Avatar"%>
    </div>
    <div class="post_body"><span class="post_user"><%= link_to h(post.user.login), user_path(post.user)  %></span> <%=h post.body %></div>
    <% if post.user == current_user %>
    <div class="post_edit">
      <%= link_to '<img src="/images/icon/receipt_pencil.png" />', edit_post_path(post) %>
      <%= link_to '<img src="/images/icon/receipt_minus.png" />', post, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
