<% if (current_user) %>
  <h2>What are you doing?</h2>
  <% form_for(Post.new) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.text_area :body, :cols => 20, :rows => 4 %>
    </p>
    <p>
      <%= f.submit "Update Status" %>
    </p>
  <% end %>
  <hr>
<% else %>
  <h1>Welcome to Standup</h1>
  <h3 class="alt"> Microblogging for teams </h3>
<% end %>
<%= render :partial => 'list_posts', :locals => { :posts => @posts } %>
<hr />
<%= will_paginate @posts %>
