<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standup<title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!--[if lte IE 7]>
  <link href="/stylesheets/hacks-ie.css" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  <!--[if lte IE 6]>
  <link href="/stylesheets/hacks-ie6.css" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  <%= stylesheet_link_tag 'fancy-type' %>
  <%= stylesheet_link_tag 'standup' %>
</head>
<body>
	<div class="container">  
		<h1>A simple sample page</h1>
		
		<hr>

		<div class="span-15 prepend-1 colborder">
              <p style="color: green"><%= flash[:notice] %></p>

              <%= yield  %>
			
		</div>
    <div class="span-7 last">
			
			<h3><span class="alt">Standup</span> microblog</h3>

            <% if current_user %>

              <%= image_tag gravatar_url_for(current_user.email, :size => 40), :height => 40, :width => 40, :title => "#{current_user.login}'s Avatar"%>

            <% end %>

            <%=render :partial => 'users/user_bar' %>		

            <br />
            <hr />

            <ul>
              <li>
              <%=  link_to "Timeline", posts_path %>
              </li>
            </ul>
            <hr />

			<h5>Why Standup?</h5>
			<p class="quiet">To provide a means to communicate with team members in a painless and accessable way</p>
		
            <h6>We stand up to keep the meeting short</h6>
            <p>This is my attempt to communicate some of the previously tacit knowledge on the benefits and consequences of common practices for daily stand-ups. These patterns of daily stand-up meetings are intended to help new practitioners as well as remind experienced practitioners of what they might already know in their gut.</p>

		</div>
		
		<hr>
		<p class="footer">Standup Microblogging for Teams</p>

	</div>

</body>
</html>

