<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Standup<title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
  <!--[if lte IE 7]>
  <link href="/stylesheets/hacks-ie.css" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  <!--[if lte IE 6]>
  <link href="/stylesheets/hacks-ie6.css" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  <%= stylesheet_link_tag 'fancy-type' %>
  <%= stylesheet_link_tag 'standup' %>
</head>
<body>
	<div class="container">  
		<h1>A simple sample page</h1>
		
		<hr>

		<div class="span-15 prepend-1 colborder">
              <p style="color: green"><%= flash[:notice] %></p>

              <%= yield  %>
          
			
			<hr>
			<div class="span-7 colborder">
              <h6>Communicate status</h6>
              <p>Communicating status is not much of a differentiator for stand-ups against any other kind of status meeting. The mechanism that stand-ups use for communicating the status, that is the team updates each other instead of a manager, is a differentiator. Updating status every day also ensures that the team reflects on what they're doing at least daily.</p>
			</div>
			<div class="span-7 last">
			  <h6>Identify obstacles</h6>
			  <p>Raising and removing obstacles earlier allows the team to maintain its momentum. The stand-up itself is not intended to remove any particular obstacle but rather to provide a forum for people to identify obstacles so that other team members have the opportunity to help.</p>
			</div>
			<hr>
			<div class="span-14 colborder">
			</div>
			<div class="span-1 last">
              <p>Lorem ipsum</p>
			</div>
			
		</div>
    <div class="span-7 last">
			
			<h3>A <span class="alt">Simple</span> Sidebar</h3>


            <%=render :partial => 'users/user_bar' %>		

            <hr />


			<h5>Why Standup?</h5>
			<p class="quiet">To provide a means to communicate with team members in a painless and accessable way</p>
		
            <h6>We stand up to keep the meeting short</h6>
            <p>This is my attempt to communicate some of the previously tacit knowledge on the benefits and consequences of common practices for daily stand-ups. These patterns of daily stand-up meetings are intended to help new practitioners as well as remind experienced practitioners of what they might already know in their gut.</p>

            <hr />
            <h6>Set direction and focus</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		
		<hr>
		<p class="footer">Standup Microblogging for Teams</p>

	</div>

</body>
</html>

